h2 {
    margin-top: 0;
    text-align: center;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.commands {
    width: 100%;
}
  