@import url("https://fonts.googleapis.com/css?family=Questrial");
@import "modal";
@import "container";

body {
  margin: 0%;
  font-family: "Questrial", sans-serif;
  background-image: url("https://abm-website-assets.s3.amazonaws.com/ecnmag.com/s3fs-public/featured_image/2016/08/maxresdefault_0.jpg");
  background-repeat: no-repeat;
  background-size: auto 100vh;

  //   background-color: #ffec63;
  //   background-image: linear-gradient(
  //       45deg,
  //       #ffd966 25%,
  //       transparent 25%,
  //       transparent 75%,
  //       #ffd966 75%,
  //       #ffd966
  //     ),
  //     linear-gradient(
  //       -45deg,
  //       #ffd966 25%,
  //       transparent 25%,
  //       transparent 75%,
  //       #ffd966 75%,
  //       #ffd966
  //     );
  //   background-size: 60px 60px;
  //   background-position: 0 0;
  //   animation: slide 4s infinite linear;
}

.invisible {
  display: none;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
